<div class="container-fluid">
  <div class="row" data-toggle="collapse" data-target="#demo" id="row">{{country}} {{target}}</div>
  <form class="collapse" id="demo" (keydown)="keyDownFunction($event)">
    <input [(ngModel)]="country" name="country">
    <br>
    <input [(ngModel)]="target" name="target">
    <!-- <button type="button" class="btn btn-primary btn-lg" id='button' data-toggle="modal" data-target="#myModal" style="display:none">
    </button> -->
  </form>

  <!-- <div class="alert alert-success alert-dismissible" role="alert" id="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    You're changes have been saved
  </div> -->
</div>
